@font-face {
    font-family: Sebaldus-Gotish;
    src: url(../fonts/Sebaldus-Gotisch.ttf);
}

@font-face {
    font-family: CallingCode-Regular;
    src: url(../fonts/CallingCode-Regular.ttf);
}

body {
    font-family: 'JetBrains Mono';
    display: flex;
    align-content: center;
    align-items: center;
    height: 90vh; 
}

p {
    margin: 0px;
}

h1, h3 {
    font-family: 'IM Fell English';
}

h3 {
    margin-top: 20px;
    margin-bottom: 4px;
    text-decoration: underline;
}

h4 {
    margin: 4px 0px;
    text-align: center;
}

#main {
    width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    display: inline-block;
    margin: 8px;
    background-color: transparent;
    padding: 4px 8px;
    color: black;
    border: 1px solid black;
    font-family: 'IM Fell English';
    font-weight: bold;
    font-size: medium;
    box-shadow: 2px 2px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn:active {
    box-shadow: 1px 1px;
    transform: translateY(1px);
    transform: translateX(1px);
}

.users-container, 
.characters-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.user-box,
.character-box {
    flex: 1;
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
    text-align: center;
}

.user-icon {
    width: 40px;
    display: block;
    margin: 5px auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid black;
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
}

.character-form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.form-input {
    border: 1px solid grey;
    border-radius: 2px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 20px;
}

.form-input:focus {
    outline: none;
    border: 2px solid black;
}

.classes-container {
    display: grid;
}

.abilities-container {
    display: flex;
}

.ability-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 8px;
}

.ability-input {
    width: 25px;
}
