body {
    font-family: 'Poppins';
}

.user-icon {
    width: 40px;
    display: block;
    margin: 0px auto;
}

.users-container, .characters-container {
    display: flex;
    justify-content: center;
}

.user-box, .character-box {
    border: 1px solid grey;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}