<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <title>new character</title>
    </head>
    <body>
        <div id="main">
            <h1>create </h1>
            <div class="form-box">
                <form class="character-form" action="#" th:action="@{'/' + ${username} + '/characters/create'}" th:object="${character}" method="post">
                    <span>name</span>
                    <input class="form-input" type="text" th:field="*{name}">
                    <span>description</span>
                    <input class="form-input" type="text" th:field="*{description}">
                    <span>class</span>
                    <input class="form-input" type="text" th:field="*{characterClass.name}">

                    <h3>abilities</h3>
                    <div class="abilities-container">
                        <div class="ability-container">
                            <span>agility</span>
                            <input class="form-input ability-input" type="text" value="1" th:field="*{abilities.agility}">
                        </div>
                        <div class="ability-container">
                            <span>presence</span>
                            <input class="form-input ability-input" type="text" value="1" th:field="*{abilities.presence}">
                        </div>
                        <div class="ability-container">
                            <span>strength</span>
                            <input class="form-input ability-input" type="text" value="1" th:field="*{abilities.strength}">
                        </div>
                        <div class="ability-container">
                            <span>toughness</span>
                            <input class="form-input ability-input" type="text" value="1" th:field="*{abilities.toughness}">
                        </div>
                    </div>

                    <input id="create-character-form-btn" type="submit" value="Create">
                </form>
            </div>
        </div>
    </body>
</html>