<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
        <title>Users</title>
    </head>
    <body>
        <h1>Users</h1>
        <div class="users-container">
            <div class="user-box" th:each="user : ${users}">
                <span th:text="${user.username}"></span>
                <br>
                <span th:text="${user.email}"></span>
            </div>
        </div>
    </body>
</html>