<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <title>Your Characters</title>
    </head>
    <body>
        <div class="main">
            <h1>Characters</h1>
            <div class="characters-container">
                <div class="character-box" th:each="character : ${characters}">
                    <span th:text="${character.name}"></span>
                    <br>
                    <span th:text="${character.description}"></span>
                    <br>
                    <span th:text="${character.abilities}"></span>
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>